.card {
    width: 600px;
    height: 300px;
}
.card__thumb {
    width: 125px;
    height: 101px;
    display: inline-block;
}
.card__body {
    width: 300px;
    display: inline-block;
}
.card__thumb__img {
    border-radius: 
}