.card {
    width: 600px;
    height: 120px;
    border: 1px solid;
    padding: 10px;
     
}
.card__thumb {
    width: 125px;
    height: 101px;
    display: inline-block;
}
.card__body {
    padding: 0px;
    width: 300px;
    line-height: 40px;
    display: inline-block;
}

.card__character {
    line-height: 40px;
}
.card__thumb__img {
    border-radius: 100%;
}
.card:hover {
    box-shadow: 5px 5px 5px 5px #666;
}
