<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>08_servletjsp</display-name>
  
  <filter>
  	<filter-name>One</filter-name>
  	<filter-class>kr.co.mlec.filter.One</filter-class>
  </filter>
   <filter>
  	<filter-name>Two</filter-name>
  	<filter-class>kr.co.mlec.filter.Two</filter-class>
  	<!-- init 메서드에 정보 넘기기 -->
  	<init-param>
  		<param-name>id</param-name>
  		<param-value>aaa</param-value>
  	</init-param>
  	<init-param>
  		<param-name>pass</param-name>
  		<param-value>1111</param-value>
  	</init-param>
  </filter>
  <filter-mapping> <!-- 필터는 맵핑에 등록된 순서대로 동작한다. -->
  	<filter-name>One</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>Two</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 
  	사용자 요청 URI와 Test01 클래스를 연결
  	1. 서블릿 등록
  	2. 등록된 서블릿과 URI 연결
   -->
  <!-- 1. 서블릿 등록 -->
  <servlet>
  	<servlet-name>test01</servlet-name>
  	<servlet-class>kr.co.mlec.servlet.basic.Test01</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>test02</servlet-name>
  	<servlet-class>kr.co.mlec.servlet.basic.Test02</servlet-class>
  </servlet>
  
  

  <!--
   2. 등록된 서블릿과 URI 연결 
  
   브라우져에서 http://localhost:8000/웹어플리케이션명(프로젝트명)/사용자 지정 경로
   http://localhost:8000/08_servletjsp/servlet/basic/test01.do
   url-pattern 에는 프로젝트 경로는 배제하고 적는다.
  -->
  <servlet-mapping>
  	<servlet-name>test01</servlet-name>
  	<url-pattern>/servlet/basic/test01.do</url-pattern>  
  </servlet-mapping>
  
   <servlet-mapping>
  	<servlet-name>test02</servlet-name>
  	<url-pattern>/servlet/basic/test02.do</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>