div {
    width: 150px;
    height: 150px;
    background-color: red;
    position: relative;

    animation-name: myexam;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-iteration-count: infinite;

    /* animation-direction: alternate; */

}


 @keyframes myexam {
    0% { left: 0px; }
    25% { left: 150px; border-radius: 50%; background-color: orange; }
    50% { left: 0px; top: 150px; }
    /* 50% {  left: 500px; border-radius: 50%; background-color: orange; } */
    /*
    75% { left: 150px; }
    100% { left: 0px; }
    */
}