button {
    display: inline-block;
    margin: 300px;
    width: 150px;
    height: 150px;
    background-image: url("../images/spinner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}



button::after {
    content: url("../images/spinner.jpg");;
    display: block;
}