button {
    display: inline-block;
    margin: 300px;
    width: 150px;
    height: 150px;
}



button::after {
    content: url("../images/spinner.jpg");
    posi
    top: -30px;
    display: block;
}