button {
    display: inline-block;
    margin: 150px;
    width: 150px;
    height: 150px;
    position: relative;
    animation: 

}



button::after {
    content: url("../images/spinner.jpg");
    left: 36px;
    bottom: 33px;
    position: absolute;
}

@keyframes ff {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}