button {
    display: inline-block;
    margin: 150px;
    width: 150px;
    height: 150px;
    position: relative;
   
}



button::after {
    content: url("../images/spinner.jpg");
    left: 36px;
    bottom: 33px;
    position: absolute;
    transform-origin: right bottom;
    animation: ff 2s infinite;
    animation-timing-function: linear;
}

@keyframes ff {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}