body {
    background-color: darkgrey;
}

.sticky {
    
   
}
li {
    width: 140px;
    height: 220px;
    list-style: none;
    float: left;
    margin: 15px;
    font-size: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 5px 5px 2px #444;
    border
}

ul > li:nth-child(3n + 1) {
    background-color: #fcfbcd;
    transform: rotateZ(3deg);
}
ul > li:nth-child(3n + 2) {
    transform: rotateZ(-3deg);
    background-color: #da3ed2;
}
ul > li:nth-child(3n) {
    transform: rotateZ(3deg);
    background-color: #af3ca9;
}

ul > li:hover {
    transform: rotateZ(0deg) scale(1.2);
}
