body {
    background-color: darkgrey;
}

.sticky {
    
   
}
li {
    width: 150px;
    height: 200px;
    list-style: none;
    float: left;
    margin: 15px;
    font-size: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 5px 5px 2px #444;
    
}
ul > li:nth-child(3n + 1) {
    background-color: #fcfbcd;
    transform: rotateZ(3deg);
}
ul > li:nth-child(3n + 2) {
    background-color: #da3ed2;
}
ul > li:nth-child(3n) {
    background-color: #af3ca9;
}

