button {
    display: inline-block;
    margin: 300px;
    width: 150px;
    height: 150px;
    position: relative;

}



button::after {
    content: url("../images/spinner.jpg");
    top: -30px;
    display: block;
}