body{
    backg
}

.container {
    width: 1000px;
    height: 300px;
}
.container > div, .container > span {
    width: 100px;
    height: 100px;
    border: 2px dashed;
    display: inline-block;
    padding: 12px;
    text-align: center;
    line-height: 100px;
}
.container > div:hover, .container > span:hover {
    background-color: black;
    color: white; 
}
h2 {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: orange;
}

