body {
    background-color: #0079BF;
}

h2 {
    color: white;
}
ul {
    list-style: none;
}
li {
    padding-top: 10px;
    
    text-align: center;
    color: white;
    width: 10px;
    height: 30px;
    background-color: #67A6CA;
    display: inline-block;
    border-radius: 10%;
}