* {
    margin: 0; padding: 0;
    box-sizing: border-box;	
}
header,footer,.sidebar,.main-img,.thum-img {
    background: gainsboro;
    margin: 10px;
}
.container{
    width: 1000px; height: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    /* flex-grow:space-around; */
}
.container>header{
    flex-grow: 1;
}
.container>section{
    flex-grow: 8;
}
.container>footer{
    flex-grow: 1;
    }

section{
    display: flex;
    flex-direction: row;
}

section>div:nth-child(1){
    flex-grow: 9;
}
section>div:nth-child(2){
    flex-grow: 1;
}

.img{
    display: flex;
    flex-direction: column;
}

.img>div:nth-child(1){
    flex-grow: 8;
}
.img>div:nth-child(2){
    flex-grow: 1;
}
.thum{
    display: flex;
    flex-grow: 1;   
}