html
  head
    title Pug 연습
    meta
  body
    h2 pug 태그 연습하기
    div
     

<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>test</h2>
    </body>
</html>