

@media (min-width: 911px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-gap: 10px;

        grid-template-rows: repeat(4, 80px);

        

    }
    .container > header {
        grid-column: 1 / span 3;
        background-color: darkgray;
    }


    .container > section {
        display: grid;
        
        grid-template-columns: repeat(4, 1fr);

        grid-gap: 10px;

        grid-template-rows: repeat(2, 80px);

        
    }
}