

@media (min-width: 911px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        grid-gap: 10px;

        grid-template-rows: repeat(4, 80px);


        grid-template-areas: "one . three"
                             "one . three"
                             "two two three"
                             "four four four"
                                 "five . .";

    }
    .container > header {

    }


    
}